.caption {
	font-family: Georgia;
	font-size: 20px;
	color: #012169;
	background-color: #bbbcbc;
	width: 100%;
	text-align: center;
}

.slideshow {
	border-style: double;
	border-color: #bbbcbc;
	width: 670px;
	height: 670px;
	overflow: hidden;
	position: relative;
}

.slide {
	width: 670px;
	position: relative;
	transition: left 2s;
	margin-left: auto;
	margin-right: auto;
}

.previous {
	cursor: pointer;
  	float: left;
  	width: 25px;
  	height: 40px;
  	padding: 10px;
  	margin-right: 5px;
  	overflow: hidden;
  	text-align: center;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	background: #000000;
  	opacity: 0.65;
  	user-select: none;
}

.next {
	cursor: pointer;
  	float: left;
  	width: 25px;
  	height: 40px;
  	padding: 10px;
  	margin-right: 5px;
  	overflow: hidden;
  	text-align: center;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	background: #000000;
  	opacity: 0.65;
  	user-select: none;
}

.image {
	width: 100%;
}

.buttons{
	padding-left: 22%;
}